#contactImage{
    background-image: url(../images/cpr_5.jpg);
    margin-top: 150px;
    height: 180px;
  }
/* .jumbotron jumbotron-fluid3 {
  padding-top: 140px;
} */

/* why CPR */
.videoCPR {
  margin-top: 40px;
}